<div class="img fixed-top"></div>
<div class="container my-5 d-flex flex-column align-items-center">
  <h3 class="text-center font-monospace bg-gradient my-5 white-color">
    Create your own blog ...
  </h3>
  <form
    [formGroup]="formCreate"
    class="container d-flex flex-column align-items-center"
  >
    <!--Textarea with icon prefix-->
    <div class="col-5 md-form mb-4 my-3 pink-textarea active-pink-textarea-2">
      <label for="form23">Title : </label>
      <textarea
        #inputtitle
        id="form23"
        class="md-textarea form-control opacity-50 my-color"
        rows="1"
        type="text"
        formControlName="title"
      ></textarea>
    </div>

    <!--Textarea with icon prefix-->
    <div class="col-5 md-form amber-textarea active-amber-textarea-2">
      <label for="form23">Content : </label>
      <textarea
        #inputcontent
        id="form24"
        type="text"
        class="md-textarea form-control opacity-50 bg-info"
        rows="4"
        formControlName="content"
      ></textarea>
    </div>
    <input
    [disabled]="blog.isBlogAdded"
      class="btn btn-primary my-5"
      type="button"
      (click)="add(inputtitle.value, inputcontent.value)"
      value="Post"
      [disabled]="formCreate.invalid"
    />
  </form>
</div>
